.classpath
.project
.settings/

common/.project
common/.classpath
common/.settings/
common/target/

repository/.project
repository/.classpath
repository/.settings/ 
repository/target/

rest/.project
rest/.classpath
rest/.settings/
rest/target/

security/.project
security/.classpath
security/.settings/
security/target/

service/.project
service/.classpath
service/.settings/
service/target/
